*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    margin: 10px;
    padding: 0;
    color: black;
    box-sizing: border-box;
}
form{
    padding: 10px;
    margin: auto;
    border: none;
    height: 30%;
    width: 40%;
    background: plum;
    border-radius: 5px;
}
form h1{
    color: purple;
    
}
form h2{
    margin: 20px 10px 0 10px;
}
input{
    font-family: fantasy;
    font-size: large;
    margin: 20px 10px;
    padding: 10px;
    width: 90%;
}
.res{
    margin-bottom: 10px;
}